body{
    overflow-x: hidden;
    overflow-y: hidden;
}
#div1 img {
    animation-name: box;
    /* width: 100%; */
    /* object-fit: cover; */
    animation-duration: 10s;
   /* animation-delay: 3s; */
   animation-iteration-count: infinite;
   animation-fill-mode: forwards;
   position: relative;
   top: -120px;
animation-timing-function: linear;


}
@keyframes box {
    0% {
        left: 0px;

    }
    100%{
        left: -3000px;
    }
}

#div2 img {
    animation-name: box1;
    /* width: 100%; */
    object-fit: cover;
    animation-duration: 10s;
   /* animation-delay: 3s; */
   animation-iteration-count: infinite;
   animation-fill-mode: forwards;
   position: relative;
   top: -230px;
animation-timing-function: linear;


}
@keyframes box1 {
    0% {
        left: -3000px;

    }
    100%{
        left: 0px;
    }
}
#div3 img {
    animation-name: box2;
    /* width: 100%; */
    object-fit: cover;
    animation-duration: 10s;
   /* animation-delay: 3s; */
   animation-iteration-count: infinite;
   animation-fill-mode: forwards;
   position: relative;
   top: -340px;
animation-timing-function: linear;
}  
@keyframes box2 {
    0% {
        right: 0px;

    }
    100%{
        right: -3000px;
    }
}
.black{
    width: 1500px;
    height: 400px;
position: relative;
top: -340px;
}
